body{
	margin-left:auto;
	margin-right:auto;
	width:1000px;
	background-repeat: no-repeat;
	background-image: url(../img/photo.jpg);
	height:500px;
	background-color:#e9e9e9;
}
	
.container{
	margin-top:20px;
	background-color:white;
	opacity:0.8;
	width: 974px;
	height:574px;
	padding:10px;
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;
	border: 3px solid #CCCCCC;
	
}
.logo{
	margin-top:20px;
	background-repeat: no-repeat;
	background-image: url(../img/logo.png);
	margin-left:346px;
	margin-right:346px;
	width:281px;
	height:324px;
}
.open-button-login {

  background-color: #555;
  color: white;
  padding: 20px 10px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  width: 25%;
  margin-left: -2%;
  margin-right: -2%;
  margin-top:25%
}
  .open-button-registration {
  background-color: #555;
  color: white;
  padding: 20px 10px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  width: 25%;
  margin-left: -2%;
  margin-right: -2%;
  margin-top:30%
}

.form-popup-login {
  display: none;
  position: fixed;
  padding-left:100px;
  padding-right:100px;
  margin-left:-155px;
  margin-right:-150px;
  margin-top:7%;
  margin-bottom:40%;
  z-index: 9;
}
.form-popup-register {
  display: none;
  position: fixed;
  padding-left:100px;
  padding-right:100px;
  margin-left:-155px;
  margin-right:-150px;
  margin-top:0.5%;
  margin-bottom:40%;
  z-index: 9;
}

.form-container-register {
  max-width: 350px;
  padding-top: 10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  background-color: #DDDDDD;
  border: 3px solid #AAAAAA;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;	
}


/* Add styles to the form container */
.form-container {
  max-width: 350px;
  padding-top: 10px;
  padding-bottom:10px;
  padding-left:20px;
  padding-right:20px;
  background-color: #DDDDDD;
  border: 3px solid #AAAAAA;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* Full-width input fields */
.form-container-register input[type=text]{
  width: 90%;
  padding: 7px;
  margin: 5px 0 7px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #BBBBBB;
  outline: none;
}


.form-container-register input[type=text]:focus {
  background-color: #BBBBBB;
  outline: none;
}



/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #3daf42;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.9;
}

.form-container-register .btn {
  background-color: #3daf42;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 94%;
  margin-bottom:10px;
  opacity: 0.9;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

.form-container-register .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.form-container-register .btn:hover, .open-button:hover {
  opacity: 1;
}

.form-container .btn:hover, .open-button-login:hover, .open-button-registration:hover {
  opacity: 1;
}

.form-container-register .btn:hover, .open-button-login:hover, .open-button-registration:hover {
  opacity: 1;
}

	