<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/userInterface.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        .logout {
            background-color: red;
        }

        .info {
            background-color: #000080;
        }
    </style>
    <title>Warehouse – magazyn</title>
</head>

<body>

<datalist id="clientList">
    <option th:each="c : ${clients}" th:value="${c.id}"
            th:label="${c.name}"></option>
</datalist>

<datalist id="warehouseList">
    <option th:each="w : ${warehouses}" th:value="${w[0]}"
            th:label="${w[2]}"></option>
</datalist>

<!--Formularz dodania sprzedazy leku-->
<div class="form-popup" id="myFormAddSale" style="margin-top: 100px">
    <form th:action="@{/warehouse/allWarehouses}" method="post" class="form-container">
        <div class="col-xs-3">
            <div class="thumbnail">
                <h1 style="padding-right: 120px;">Dodaj sprzedaż</h1>
                <label for="warehouseList"><b>Lek</b></label><br/>
                <input style="padding-right:10px;" list="warehouseList" class="form-control" name="idWarehouse" autocomplete="off" required><br/>
                <label for="clientList"><b>Klient</b></label><br/>
                <input style="padding-right:10px;" list="clientList" class="form-control" name="idClient" autocomplete="off" required><br/>
                <label for="amount"><b>Ilość</b></label><br/>
                <input style="padding-right:10px;" max="400" type="number" class="form-control" name="amount" id="amount" autocomplete="off" required><br/>
                <button type="button" class="btn cancel" onclick="closeFormAddSale()"><i class="fa fa-close"></i>
                    Anuluj
                </button>
                <button type="submit" class="btn"><i class="fa fa-check"></i> Potwierdź</button>
            </div>
        </div>
    </form>
</div>

<!--Okno z informacjami o zalogowanym uzytkowniku-->
<div class="form-popup" id="myInformationPopupWindow" style="margin-top: 120px;margin-left: 310px;">
    <form method="post" class="form-container">
        <div class="col-xs-3">
            <div class="thumbnail">
                <h1>Użytkownik</h1>
                <label style="padding-right: 100px;padding-bottom:5px"><b>Login: </b><span
                        th:text="${user.login}"></span></label><br/>
                <label style="padding-right: 100px;padding-bottom:5px"><b>Imię: </b><span th:text="${user.name}"></span></label><br/>
                <label style="padding-right: 100px;padding-bottom:5px"><b>Nazwisko: </b><span
                        th:text="${user.surname}"></span></label>
                <button type="button" style=" background-color: red;" class="btn cancel"
                        onclick="closeWindowInformationUser()"><i class="fa fa-close"></i> Zamknij
                </button>
                <br/>
            </div>
        </div>
    </form>
</div>
<!--SideNav - Okno wyboru podstrony-->
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/medicine/allMedicines">Leki</a>
    <a href="/orders/allOrders">Zamówienia</a>
    <a href="/delivery/allDeliveries">Dostawy</a>
    <a href="/warehouse/allWarehouses">Magazyn</a>
    <a href="/sale/allSales">Sprzedaże</a>
</div>


<div class="container" style="margin-top: 20px;">
    <!-- Load an icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- NAVBAR - górny pasek menu -->
    <div class="navbar">
        <a class="logout" th:href="@{/logout}"><i class="fa fa-fw fa-sign-out"></i><b> Wyloguj</b></a>
        <a class="info" onclick="openWindowInformationUser()" style="cursor: pointer;">
            <i class="fa fa-fw fa-user"></i><b> Użytkownik</b></a>
        <a class="active" href="#"><i class="fa fa-fw fa-home"></i><b> Home</b></a>
        <a onclick="openNav()"
           style="float:left;text-align:center;padding:15px;color:white;text-decoration:none;font-size:19px;cursor:pointer">
            <b>&#9776; Menu</b></a>
    </div>

    <!-- Formularz wyszukiwania zamowienia po nazwie leku lub identyfikatorze dostawy-->
    <div class="container-search">
        <form th:action="@{/warehouse/allWarehouses}" method="post" class="form-container-search">
            <input type="number" name="idSearch" id="idSearch" placeholder="Id" autocomplete="off">
            <input type="text" name="nameSearch" id="nameSearch" placeholder="Nazwa leku" autocomplete="off">
            <button type="submit" class="btn-f"><i class="fa fa-search"></i> Szukaj</button>
        </form>
    </div>

    <!-- Tabela z zawartością bazy danych -->
    <table>
        <thead class="thead-dark">
        </thead>
        <tr style="background-color: green;">
            <th>Id</th>
            <th>Nr dostawy</th>
            <th>Nazwa leku</th>
            <th>Ilość</th>
            <th>Status</th>
            <th>Data ważności</th>
            <th>Dostawca</th>
            <th>Imię</th>
            <th>Nazwisko</th>
        </tr>
        <tbody class="tbody-dark">
        <tbody th:each="w : ${warehouses}">
        <td th:text="${w[0]}"></td>
        <td th:text="${w[1]}"></td>
        <td th:text="${w[2]}"></td>
        <td th:text="${w[3]}"></td>
        <td th:text="${w[4]}"></td>
        <td th:text="${w[6]}"></td>
        <td th:text="${w[7]}"></td>
        <td th:text="${w[8]}"></td>
        <td th:text="${w[9]}"></td>
        </tbody>
    </table>
    <!-- Pzyciski działań związanych z bazą danych(DODAJ,Edytuj,Usuń itp. -->
    <div class="container-button">
        <button class="btn-r" style="margin-left:205px;"><i class="fa fa-refresh"></i> Odśwież</button>
        <button class="btn-d" onclick="openFormAddSale()"><i class="fa fa-cart-arrow-down"></i> Sprzedaj</button>
    </div>
</div>
<!-- Funkcje w JavaScript -->
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

    function openWindowInformationUser() {
        document.getElementById("myInformationPopupWindow").style.display = "block";
    }

    function closeWindowInformationUser() {
        document.getElementById("myInformationPopupWindow").style.display = "none";
    }

	function openFormAddSale() {
        document.getElementById("myFormAddSale").style.display = "block";
    }

    function closeFormAddSale() {
        document.getElementById("myFormAddSale").style.display = "none";
    }
</script>
</body>
</html>
