<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bazaLekow.css}"/>
	<style>
		.logout{
			background-color: red;
		}

		.info {
			background-color: #000080;	
		}
	</style>
<title>Medicine – baza leków</title>
</head>

<body>
<!--Formularz dodania leku do bazy-->
	<div class="form-popup-addMedicine" id="myFormAddMedicine">
		<form action="/action_page.php" class="form-container-addMedicine">
			<h1>Dodaj lek</h1>
			<label for="name"><b>Nazwa</b></label>
				<input type="text" name="name" id="name" required>	
			<label for="price"><b>Cena</b></label>
				<input type="number" name="price" id="price" required>
			<label for="discount"><b>Rabat</b></label>
				<input type="text" name="discount" id="discount" required>
			<label for="portioning"><b>Dawkowanie</b></label>
				<input type="text" name="portioning" id="portioning" required>
			<label for="prescriptionList"><b>Recepta</b></label>
				<select name="prescriptionList" id="prescriptionList" class="select_form" style="width:94%;background-color: #BBBBBB;
				outline: none;padding:4px; margin: 2px 0 3px 0;border: none;background: #f1f1f1">
					<option value="volvo">tak</option>
					<option value="saab">nie</option>
				</select>
			<label for="wrapping"><b>Opakowanie</b></label>
				<input type="text" name="Opakowanie" id="wrapping" required>
			<label for="character"><b>Postać</b></label>
				<select name="characterList" class="select_form" id="character" style="width:94%;background-color: #BBBBBB;
				outline: none;padding:4px; margin: 2px 0 3px 0;border: none;background: #f1f1f1">
					<option value="volvo">tabletki</option>
					<option value="saab">syrop</option>
				</select>
			<label for="producerList"><b>Recepta</b></label>
				<select name="producerList" id="producerList" class="select_form" style="width:94%;background-color: #BBBBBB;
				outline: none;padding:4px; margin: 2px 0 3px 0;border: none;background: #f1f1f1">
					<option value="volvo">Polfa Tarchomin</option>
					<option value="saab">Farmed</option>
				</select>
			<br/>
			<button type="button" class="btn cancel" onclick="closeFormAddMedicine()"><i class="fa fa-close"></i> Anuluj</button>
			<button type="submit" class="btn"><i class="fa fa-check"></i> Potwierdź</button>
		
		</form>
	</div>

<!--SideNav - Okno wyboru podstrony-->
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="#">About</a>
		<a href="#">Services</a>
		<a href="#">Clients</a>
		<a href="#">Contact</a>
	</div>


	<div class="container">
		<!-- Load an icon library -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- NAVBAR - górny pasek menu -->
		<div class="navbar">
			<a class="logout" href="loginAndRegister.html"><i class="fa fa-fw fa-sign-out"></i><b> Wyloguj</b></a>
			<a class="info" href="#"><i class="fa fa-fw fa-user"></i><b> Użytkownik</b></a>
			<a class="active" href="#"><i class="fa fa-fw fa-home"></i><b> Home</b></a> 
			<a onclick="openNav()" style="float:left;text-align:center;padding:15px;color:white;text-decoration:none;font-size:19px;cursor:pointer">
			<b>&#9776; Menu</b></a>
		</div>

		<!-- Formularz wyszukiwania leku po produkcie lub identyfikatorze -->
		<div class="container-search">
			<form action="/action_page.php" class="form-container-search">

					<input type="number" name="identyfikator">

					<input type="text" name="nazwa">
				<button type="submit" class="btn-f"><i class="fa fa-search"></i> Szukaj</button>
			</form>
		</div>
		
		<!-- Tabela z zawartością bazy danych -->
		<table>
			<thead class="thead-dark">
			</thead>
			<tr style="background-color: green;">
				<th style="width:10px;">Id</th>
				<th>Nazwa</th>
				<th>Cena</th>
				<th>Rabat</th>
				<th>Dawkowanie</th>
				<th>Recepta</th>
				<th>Postać</th>
				<th>Opakowanie</th>
				<th>Producent</th>
			</tr>
			<tbody class="tbody-dark">
			<tbody th:each="m : ${medicines}">
			<td th:text="${m.id}"></td>
			<td th:text="${m.name}"></td>
			<td th:text="${m.price}"></td>
			<td th:text="${m.discount}"></td>
			<td th:text="${m.portion}"></td>
			<td>
				<ul th:each="p : ${m.prescription}">
					<li th:text="${p.name}"/>
				</ul>
			</td>
			<td th:text="${m.wrapping}"></td>
			<td>
				<ul th:each="c : ${m.character}">
					<li th:text="${c.name}"/>
				</ul>
			</td>
			<td>
				<ul th:each="pr : ${m.producer}">
					<li th:text="${pr.name}"/>
				</ul>
			</td>

			</tbody>
		</table>
		<!-- Pzyciski działań związanych z bazą danych(DODAJ,Edytuj,Usuń itp. -->	
		<div class="container-button">
			<button class="btn-r"><i class="fa fa-refresh"></i> Odśwież</button>
			<button class="btn-e"><i class="fa fa-edit"></i> Edytuj</button>
			<button class="btn-s" onclick="openFormAddMedicine()"><i class="fa fa-plus"></i> Dodaj</button>
			<button class="btn-d"><i class="fa fa-trash"></i> Usuń</button>
		</div>
	</div>
	<!-- Funkcje w JavaScripts -->	
	<script>
		function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
		}

		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
		}

		function openFormAddMedicine() {
			document.getElementById("myFormAddMedicine").style.display = "block";
		}

		function closeFormAddMedicine() {
		document.getElementById("myFormAddMedicine").style.display = "none";
		}
	</script>
</body>
</html>
